@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: Inter, sans-serif;
    background: #272D37;
    color: #FFFFFF;
    padding: 2em 3em;
    cursor:default;
}
/* Header */

header{
    text-align: center;
}
.header-times{
    font-size: 1.2rem;
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;

}
.header-times > h3{
    font-weight: 500;
}
.header-times > h3 > span{
    font-weight: 600;
}
header > h1{
    font-size: 3rem;
    margin: 2rem auto;
}

/* Game */
main{
    display: flex;
    justify-content: center;
}
.game-grid{
    padding: 10px;
    background: #888899;
    display: grid;
    justify-content: center;
    grid-template: repeat(8, 50px) / repeat(8,minmax(50px,50px));
    grid-gap: 10px;
}
/* Cell */
.cell{
    background: #FFF;
    display: grid;
    justify-content: center;
    align-items: center;
}
.cell-value{
    margin: 0;
    color: #F28621;
}
.play-btn{
    margin: 5em;
    padding: 1em 5em;
    background: #EEE;
    border: none;
    border-radius: 2px;
    color: #222;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}