@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: Inter, sans-serif;
    background: #272D37;
    color: #FFFFFF;
    padding: 2em 3em;
    cursor:default;
}
body::-webkit-scrollbar{
    display: none;
}
/* Header */

header{
    text-align: center;
}
.header-times{
    font-size: 1.2rem;
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.25);
    padding: 0 2rem;
    max-width: 700px;
    margin: 0 auto;

}
.header-times > h3{
    font-weight: 500;
}
.header-times > h3 > span{
    font-weight: 600;
}
header > h1{
    font-size: 3rem;
    margin: 5rem auto 2rem;
}

/* Game */
main{
    display: block;
    max-width: 445px;
    margin: 0 auto;
    text-align: center;
}
.game-grid{
    padding: 10px;
    background: #888899;
    display: grid;
    justify-content: center;
    grid-template: repeat(8, minmax(30px,50px)) / repeat(8,minmax(30px,50px));
    grid-gap: 5px;
}
/* Cell */
.cell{
    background: #FFF;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.cell:hover{
    background: #DDD;
}
.cell:active{
    background: #AAA;
}
.cell-value{
    margin: 0;
    color: #F28621;
}
.play-btn{
    margin: 5em auto;
    padding: 2rem 10rem;
    background: #EEE;
    border: none;
    border-radius: 2px;
    color: #222;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.play-btn:hover{
    background: #888899;
    color: #FFF;
    outline:#DDD solid 5px;
    transition: 150ms ease-in-out;
}
.play-btn:active{
    outline:outset;
}
.win-btn{
    margin: 3em auto;
    padding: 2rem 10rem;
    background: #EEE;
    border: none;
    border-radius: 2px;
    color: #222;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.you-win{
    padding: 0;
    font-size: 3rem;
    margin: 10rem auto 0;
}
.new-record{
    color: tomato;
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem auto;
}

@media (max-width: 500px){
    body{
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    main{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .game-grid{
        padding: 10px;
        background: #888899;
        display: grid;
        justify-content: center;
        grid-template: repeat(8,40px) / repeat(8,40px);
        grid-gap: 1px;
    }
    header > h1{
        font-size: 1.5rem;
        margin: 5rem auto 1rem;
    }
    .play-btn{
        padding: 2rem 5rem;
        font-size: 1rem;
    }
    .cell-img{
        width: 1.7rem;
    }
    .cell{
        font-size: .8rem;
    }
}
@media (max-width: 350px){
    main{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .game-grid{
        background: #888899;
        display: grid;
        justify-content: center;
        grid-template: repeat(8,30px) / repeat(8,30px);
        grid-gap: 1px;
    }
    .cell{
        font-size: .6rem;
    }
    .cell-img{
        width: 1.3rem;
    }
    .header-times{
        max-width: 200px;
    }
}
